ProjetModelisationXml/departements.dtd

<!ELEMENT departements (departement*)>
<!ELEMENT departement (nbelecteurs,nbsoutiens)>
<!ELEMENT nbelecteurs (#PCDATA)>
<!ELEMENT nbsoutiens (#PCDATA)>
<!ATTLIST departements pays CDATA #REQUIRED>
<!ATTLIST departement numero ID #REQUIRED
		      nom CDATA #REQUIRED
		      type (dom-tom|metropolitain) #REQUIRED>
<!ATTLIST nbsoutiens propositionloi CDATA #FIXED "ADP">
		      
